[user]
	name = bruno palma
	email = bruno.palma@xempus.com
	signingkey = BFEC9AEA79861BFE097DD72D01DF60227F868E06
[pull]
	rebase = false
[gpg]
	program = /opt/homebrew/bin/gpg
[commit]
	gpgsign = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
